@font-face {
  font-family: "SPHERE-FEZ";
  src: url(../font/SPHERE-FEZ.ttf);
}

@font-face {
  font-family: "Roboto-nav";
  src: url(../font/Roboto-Regular.ttf);
}

html,body{
  height: 100%;
  overflow: none;
  color: black;
  background-color: white;
  background-image:url(../img/FumeeNoirFondGris.jpg);
  background-repeat:no-repeat;
}

.navbar > div > ul > li{
  font-family: "Roboto-nav", serif;
}

nav a:hover {
  background-color: #213242;
}

.container-height{
  height: 90%
}

.ct{
 font-family: "SPHERE-FEZ", serif;
 font-size: x-small;
 color: red;
 /*background: linear-gradient(
  to right,#ff0000, #000000);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;*/
}

@media (max-width : 768px){
  .container-height{
    height: auto;
  }
}

@media (min-width : 768px){
  .container-height{
    height: 85%;
  }
}