@font-face {
  font-family: "Roboto-nav";
  src: url(../font/Roboto-Regular.ttf);
}

html,body{
  height: 100%;
  overflow: none;
  color: white;
  background-color: white;
  background-image:url(../img/background/FumeeNoirFondGris.jpg);
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.navbar > div > ul > li{
  font-family: "Roboto-nav", serif;
}

nav a:hover {
  background-color: #213242;
}

.container-height{
  height: 90%
}

.atStyle, .ct{
  font-family: "Roboto-nav", serif;
  color:black;
}

.list{
  text-align:left;
}

/* Styles personnalisés pour les cartes de compétences */
.skill-card {
  width: 100%; /* Assurez-vous que la carte soit responsive et s'adapte à la colonne */
  height: 250px; /* Hauteur fixe pour toutes les cartes */
  margin-bottom: 20px; /* Espacement entre les cartes */
  border: 2px solid #000000; /* Bordure noire */
  border-radius: 10px; /* Coins arrondis */
  background-color: rgb(255, 255, 255); /* Couleur de fond blanche */
  transition: transform 0.3s ease-in-out; /* Animation au survol */
}

.skill-card:hover {
  transform: scale(1.05); /* Agrandissement léger au survol */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

.skill-card img {
  height: 120px; /* Hauteur fixe pour les images */
  width: 100%; /* Largeur complète de la carte */
  object-fit: contain; /* Assure que l'image s'adapte sans être coupée ou déformée */
  padding: 10px; /* Espacement autour de l'image */
  background-color: white;
  border-radius: 25%;
  margin-top: 15px;
}

.skill-title {
  font-family: "Roboto-nav", serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.skill-description {
  font-family: "Roboto-nav", serif;
  font-size: 16px;
  color: black;
}
