@font-face {
  font-family: "SPHERE-FEZ";
  src: url(../font/SPHERE-FEZ.ttf);
}

@font-face {
  font-family: "Roboto-nav";
  src: url(../font/Roboto-Regular.ttf);
}

html,body{
  height: 100%;
  overflow: none;
  color: black;
  background-color: white;
  background-image:url(../img/background/FumeeNoirFondGris.jpg);
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.navbar > div > ul > li{
  font-family: "Roboto-nav", serif;
}

nav a:hover {
  background-color: #213242;
}

.container-height{
  height: 90%
}

.atStyle{
 font-family: "SPHERE-FEZ", serif;
 color:black;
 /*background: linear-gradient(
  to right,#ff0000, #000000);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;*/
}



/* effet machine à écrire (SIMPLE) */
.animate-text { 
	visibility:hidden;
  font-family:"SPHERE-FEZ",sans-serif;
  color:black; 
}

/* déco */
.animate-text { 
  font-family: "SPHERE-FEZ", serif;
  color:black;
  /*background: linear-gradient(
   to right,#ff0000, #000000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;*/
  width:250px; /* pour visualiser le passage a la ligne */
  border:1px dashed #ccc;
}

/* effet machine à écrire + animation CSS (SPECIAL) */
/*
.animate-text span { 
	display:inline-block;
  color:purple; 
  animation:fade-in 0.8s ease-in-out 1;
	animation-fill-mode: forwards;
}
@keyframes fade-in {
	0% { opacity:0; font-size:0; xxmargin-left:100px; }
  100% { opacity:1; xxfont-size:300%; xxtransform:rotate(360deg); margin-left:0; }
}
*/