@font-face {
  font-family: "SPHERE-FEZ";
  src: url(../font/SPHERE-FEZ.ttf);
}

@font-face {
  font-family: "Roboto-nav";
  src: url(../font/Roboto-Regular.ttf);
}

html,body{
  height: 100%;
  overflow: none;
  color: white;
  background-color: white;
  background-image:url(../img/background/FumeeNoirFondGris.jpg);
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.navbar > div > ul > li{
  font-family: "Roboto-nav", serif;
}

nav a:hover {
  background-color: #213242;
}

.container-height{
  height: 90%
}

.ct{
 font-family: "SPHERE-FEZ", serif;
 background: linear-gradient(
  to right,#ff0000, #000000);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}